html, body{
    margin:0;
    padding:0;
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
}

header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    background-color:#e10105 ;
}

#top{
    margin: 0;
    padding: 0;
    height: 11.5rem;
    background-color: #e10105;
}
section>span{
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    clear: both;

    
}
section>span>img{
    margin: 0;
    padding: 0;
    width:calc(230px/2);
    background-color: #e10105;

}
#vet_logo{
    margin-left: 15%;
    text-align: center;
    float: left;
}
#vet_logo>img{
   
    float: right;
    background: #e10105;
}
section>nav>{
    width: 100%;
    margin: 0;
    padding:0;
    height: 11.5rem;
    background-color: #e10105;
    text-align: center;
    float: left;
    
}
#sponsor>img{
    margin: 0;
    padding: 0;
    float: left;
}
nav>ul{
    margin: 0 auto;
    padding:0;
    text-align: center;
    text-transform: capitalize;
    
}
nav>ul>li{
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 18rem;
    width:130px;
    height: 11.5rem;
    float: left;
}
nav>ul>li>a{
    display: inline-block;
    text-decoration: none;
    color:white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
}
a:hover{

    text-decoration: underline;
}
#main{
    height: 700px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
#sec1{
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    width: 70%;
    text-align: center;
}
#frame{
    width:100%; 
    padding: 0;
    margin: 0;
    text-align: center;
    
}
p{
    width: 60%;
    height: 120px;
    font-size: 15px;
    text-align: center;
    margin:0 auto;
}
footer{
    margin: auto;
    padding: 0px;
    width: 80%;
    height: 150px;
    text-align: center;
    letter-spacing: 20px
}
#copy{
    width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: left;
    letter-spacing: 0;
    font-size: 12px;
}
#donate{
    margin: auto;
    padding:0;
    text-align: center;
    margin-left: 610px;
    
   
}
#face{
    float: right;
}