html, body{
    margin:0;
    padding:0;
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
}

header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    background-color:#e10105 ;
}

#top{
    margin: 0;
    padding: 0;
    height: 11.5rem;
    background-color: #e10105;
}
section>span{
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    clear: both;

    
}
section>span>img{
    margin: 0;
    padding: 0;
    width:calc(230px/2);
    background-color: #e10105;

}
#vet_logo{
    margin-left: 15%;
    text-align: center;
    float: left;
}
#vet_logo>img{
   
    float: right;
    background: #e10105;
}
section>nav>{
    width: 100%;
    margin: 0;
    padding:0;
    height: 11.5rem;
    background-color: #e10105;
    text-align: center;
    float: left;
    
}
#sponsor>img{
    margin: 0;
    padding: 0;
    float: left;
}
nav>ul{
    margin: 0 auto;
    padding:0;
    text-align: center;
    text-transform: capitalize;
    
}
nav>ul>li{
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 18rem;
    width:130px;
    height: 11.5rem;
    float: left;
}
nav>ul>li>a{
    display: inline-block;
    text-decoration: none;
    color:white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
}
a:hover{

    text-decoration: underline;
}
#flag{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    margin-right: 50px;
    background: transparent;
    position: relative;
    opacity: .3;
}
#about{
    width: 80%;
    height: 500px;
    margin: 0;
    padding: 0;
    
}
#art{
    width: 100%;
    margin: 0 auto;
    padding: 0;  
    text-align: left;
    height: 600px;
    margin-left: 172px;
    position: relative;
    top: -800px;
}
article:nth-of-type(1){
    
    width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px;
    
}
article:nth-of-type(2){
     width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 15px;
    
}
article:nth-of-type(3){
      width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 5px;
}
article:nth-of-type(4){
      width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 0;
}
article:nth-of-type(5){
      width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 5px;
}
article:nth-of-type(6){
      width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 5px;
}
footer{
    margin:auto;
    padding: 0px;
    width: 80%;
    height: 150px;
    text-align: center;
    letter-spacing: 40px;
    margin-left: 280px;
    position: relative;
    top: -800px;
}
#copy{
    width: 100%;
    margin: auto 0;
    padding: 0;
    text-align: left;
    letter-spacing: 0;
    font-size: 12px;
}
#donate{
    margin: auto;
    padding:0;
    text-align: center;
    margin-left: 640px;
    position: relative;
    top: -800px;
   
}
#face{
    float: right;
}