html, body{
    margin:0;
    padding:0;
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
}

header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-size: 10px;
    background-color:#e10105;
}
section{
    margin: 0;
    padding: 0;
    height: 11.5rem;
    background-color: #e10105;
}
section>span{
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    clear: both;

    
}
section>span>img{
    margin: 0;
    padding: 0;
    width:calc(230px/2);
    background-color: #e10105;

}
#vet_logo{
    width: 15%;
    text-align: center;
    float: left;
}
#vet_logo>img{
    float: right;
    background: #e10105;
}
section>nav>{
    width: 100%;
    margin: 0;
    padding:0;
    height: 11.5rem;
    background-color: #e10105;
    text-align: center;
    float: left;
    
}
#sponsor>img{
    margin: 0;
    padding: 0;
    float: left;
}
nav>ul{
    margin: 0 auto;
    padding:0;
    text-align: center;
    text-transform: capitalize;
    
}
nav>ul>li{
    margin: 0;
    padding: 0;
    display: inline;
    line-height: 18rem;
    width:150px;
    height: 11.5rem;
    float: left;
    background-color: #e10105;
}
nav>ul>li>a{
    display: inline-block;
    text-decoration: none;
    color:white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
}
a:hover{

    text-decoration: underline;
}
#flag{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    margin-right: 178px;
    background: transparent;
    position: relative;
    opacity: .3;
}
main{
    width: 80%;
    height: 450px;
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    top:-780px;
   
}

section{
    width: 80%;
    height: 600px;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;  
    display: inline;
    text-align: center;
}
#sec1{
    height: 100%;
    margin: auto 0;
    padding: 0;
    width:100%;
}
section>ul>li{
    box-sizing: border-box;
    display:inline block;
    list-style: none;
    text-align: left;
}
#list ul{
    margin: 0 auto;
    margin-left: 180px;
    padding: 50px;
    width:30%;
    height: 200px;
    float: left;
    text-align: left;
    display: block;
    list-style-type: none;
    

}
#info{
    margin: 0 auto;
    padding: 0;
    width:40%;
    height:400px;
    float: left;
}
#gm{
    margin: 0 auto;
    padding: 0;
    color: blue;
    font-size:12px;
    text-decoration: none;
}
#gm:hover{
    text-decoration: underline;
}
#sec2{
    width: 80%;
    height: 100px;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;  
    box-sizing: border-box;
    display: block;
    background-color: aqua;
}
footer{
    margin:0;
    padding: 0px;
    width: 80%;
    height: 150px;
    text-align: center;
    letter-spacing: 20px;
    position: relative;
    top: -700px;
}
#copy{
    width: 100%;
    margin-left: 100px;
    padding: 0;
    text-align: left;
    letter-spacing: 0;
    font-size: 12px;
}
#donate{
    margin: auto;
    padding:0;
    text-align: center;
    margin-left: 465px;
    position: relative;
    top: -705px;
    
   
}
#face{
    float: right;
}